<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="group.alarm.groupalarm">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroupAlarm"
        tools:targetApi="31">
        <activity
            android:name="group.alarm.groupalarm.MoreAlarmInviteActivity"
            android:exported="false"
            android:theme="@style/Theme.GroupAlarm.NoActionBar"/>
        <activity
            android:name="group.alarm.groupalarm.AlarmChatsActivity"
            android:exported="true"/>
        <activity
            android:name="group.alarm.groupalarm.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="group.alarm.groupalarm.AlarmInvitesActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.CreateAlarmActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="group.alarm.groupalarm.ProfileDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.FriendRequestActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.FriendsViewActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.EditProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.FriendActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="group.alarm.groupalarm.SettingActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.StopAlarmActivity"
            android:exported="false"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar"/>
        <activity
            android:name="group.alarm.groupalarm.ScrollingActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar" />
        <activity
            android:name="group.alarm.groupalarm.DetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.GroupAlarm.NoActionBar"/>

        <receiver
            android:name="group.alarm.groupalarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="alarmReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>